body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(220, 25%, 15%);
}

a {
  text-decoration: none;
}

#home, #search-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#search-section {
  width: 100%;
}

.loading {
  color: white;
  padding: 12px;
}

#loading-screen {
  color: white;
}

#results-section {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  padding: 16px;
  width: 90%;
}

#splash {
  position: relative;
  height: 96px;
  width: 96px;
  margin: 24px 0 8px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form > input {
  font-size: 16px;
  margin: 16px;
  width: 75%;
  min-width: 200px;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 2px;
  border: none;
}

form > button {
  font-size: 18px;
  margin: 8px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 4px 6px hsl(0, 0%, 10%);
  background-color: hsl(14, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 6px 12px;
  font-weight: 500;
}

.reddit-icon-bg {
  background-color: white;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 18px;
  left: 18px;
}

.reddit-icon {
  position: absolute;
  z-index: 1;
}

.result-item {
  padding: 16px;
  display: flex;
  align-content: flex-start;
  border-radius: 8px;
  margin: 8px 0;
  background-color: hsl(210, 40%, 20%);
  box-shadow: 0 2px 2px 0px hsl(225, 56%, 10%);
  min-width: 250px;
}

.result-thumbnail {
  min-width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-thumbnail > img {
  width: 125px;
}

.result-content {
  padding: 0px 4px 0px 18px;
  flex-wrap: wrap;
}

.result-title {
  font-size: 20px;
  padding: 0 8px 10px 0;
  font-weight: 600;
}

.result-title a {
  text-decoration: none;
  color: hsl(220, 40%, 85%);
  text-shadow: 0 2px 2px hsl(225, 50%, 15%);
  line-height: 130%;
}

.result-title a:hover {
  border-bottom: 1.5px solid hsl(220, 10%, 100%, 70%);
  padding-bottom: 2px;
}

.result-details {
  display: flex;
  padding-left: 2px;
  flex-wrap: wrap;
}

.result-sub {
  font-size: 14px;
  font-weight: 600;
  padding-right: 8px;
  color:hsl(215, 50%, 66%);
}

.result-author {
  font-size: 14px;
  color:hsl(215, 25%, 60%);
}

.result-text-preview {
  padding: 8px 8px 8px 0;
  max-height: 100px;
  mask-image: linear-gradient(to top, transparent, hsl(210, 40%, 20%) 25%);
  -webkit-mask-image: linear-gradient(to top, transparent, hsl(210, 40%, 20%) 25%);
}

.result-text-preview:hover {
  cursor: pointer;
}

.result-text-container {
  background-color: hsl(210, 50%, 15%);
  box-shadow: 0px 2px 0px hsl(220, 0%, 50%, 20%);
  border-radius: 4px;
  margin-top: 16px;
  overflow-y: auto;
  max-height: 600px;
}

.result-text-inner {
  min-height: 25px;
  padding: 16px;
}

.result-text-inner h1, .result-text-preview h1 {
  font-size: 16px;
}

.result-text-inner h2, .result-text-preview h2 {
  font-size: 14px;
}

.result-text-inner a, .result-text-preview a {
  color:hsl(220, 90%,80%);
  text-decoration: underline;
}

.result-text-inner > *, .result-text-preview > * {
  font-size: 14px;
  color: hsl(0, 0%, 85%);
  line-height: 130%;
}

@media only screen and (max-width: 400px) {
  #results-section {
    width: 280px;
  }
  .result-item {
    max-width: 250px;
  }
  .result-title {
    max-width: 200px;
    font-size: 14px;
  }
  .result-thumbnail > img {
    width: 50px;
  }
  .result-author {
    max-width: 60px;
    font-size: 12px;
  }
  .result-text-container {
    max-width: 200px;
  }
  .result-text-inner {
    max-width: 120px;
  }
  .result-text-inner > *, .result-text-preview > * {
    font-size: 12px;
    color: hsl(0, 0%, 85%);
  }
  .result-sub {
    font-size: 12px;
  }
  .result-thumbnail {
    min-width: 50px;
  }
}
